* {
     font-family: 'Noto Sans Symbols', 'Segoe UI Symbol', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.radar-container {
    width: 90%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-rows: 7fr 2fr 6fr;
    grid-template-columns: 1fr 2fr 1fr;
    background-image: url('images/tir.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin: 0 auto;
}

.grid-cell {
    position: relative;
    /* border: 1px solid red; */
}

.sensor-container {
    width: 35%;
    max-width: 200px;
    margin-top: -30px; 
    margin-left: 10px;
    /* border: 1px solid red; */

}

.sensor-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

